<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        {{asanaDefination?.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <div class="youtube-image">
        <img src="{{asanaDefination?.image}}" (click)="openAsanaVideo(asanaDefination?.videoId)"/>
        <p name="definititon">{{asanaDefination?.definition}}</p>

        <h2>Procedure</h2>
        <ul *ngFor="let procedure of asanaDefination?.procedure">
          <li>{{procedure}}</li>
        </ul>
        <h2>Limitations</h2>
        <p>This posture is not recommended for the people with:</p>
        <ul *ngFor="let limitations of asanaDefination?.limitations">
            <li>{{limitations}}</li>
        </ul>
        <h2>Benefits</h2>
        <p>The regular practice of {{asanaDefination?.title}} is known to bring following wonderful benefits:</p>
        <ul *ngFor="let benefits of asanaDefination?.benefits">
            <li>{{benefits}}</li>
        </ul>
      </div>
    </ion-item>
</ion-content>
