<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Asanas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-content *ngFor="let asanaData of data">
      <h2>{{asanaData.title}}</h2>
      <img src="{{asanaData.image}}" width="250" height="100" alt="" (click)="sendInfoToAsanaService(asanaData)"/>
    </ion-card-content>
  </ion-card>
  <!-- <ion-list>
    <ion-item *ngFor="let asanaData of data">
      <div class="item">
        <img src="{{asanaData.image}}" width="250" height="100" alt="" (click)="sendInfoToAsanaService(asanaData)"/>
        <div class="text">
          <h2>{{asanaData.title}}</h2>
        </div>
      </div>
    </ion-item>
  </ion-list> -->
</ion-content>
