<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="scroll-hidden">
    <ion-card class="welcome-card">
      <img src="/assets/meditation.jpg" alt="" />
      <ion-card-header>
        <!--<ion-card-subtitle>Get Started</ion-card-subtitle>-->
        <ion-card-title>Anandho Brahma</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Yoga is a group of physical, mental, and spiritual practices or disciplines which originated in ancient India. Yoga is one of the six orthodox schools of Hindu philosophical traditions. There is a broad variety of yoga schools, practices, and goals in Hinduism, Buddhism, and Jainism. The term YOGA in the Western world often denotes a modern form of Hatha yoga, yoga as exercise, consisting largely of the postures called asanas.</p><br/>
        <p>The origins of yoga have been speculated to date back to pre-Vedic Indian traditions; it is mentioned in the Rigveda, but most likely developed around the sixth and fifth centuries BCE, in ancient India's ascetic and śramaṇa movements. The chronology of earliest texts describing yoga-practices is unclear, varyingly credited to Upanishads. The Yoga Sutras of Patanjali date from the first half of the 1st millennium CE, but only gained prominence in the West in the 20th century. Hatha yoga texts emerged sometimes between the 9th and 11th century with origins in tantra.</p><br/>
        <p>Yoga gurus from India later introduced yoga to the West, following the success of Swami Vivekananda in the late 19th and early 20th century with his adaptation of yoga tradition, excluding asanas. Outside India, it has developed into a posture-based physical fitness, stress-relief and relaxation technique. Yoga in Indian traditions, however, is more than physical exercise; it has a meditative and spiritual core. One of the six major orthodox schools of Hinduism is also called Yoga, which has its own epistemology and metaphysics, and is closely related to Hindu Samkhya philosophy.</p><br/>
        <p>The impact of postural yoga on physical and mental health has been a topic of systematic studies, with evidence that regular yoga practice yields benefits for low back pain and stress. On December 1, 2016, yoga was listed by UNESCO as an intangible cultural heritage.</p>
      </ion-card-content>
    </ion-card>
    <!--<ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
    -->


    <div *ngFor="let item of data">
      {{item?.id}}
      {{item?.name}}
    </div>
</ion-content>
